*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin sns',sans-serif;
}



.hero-background{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_rCsfbdz1GwoulvopiZCNf1kJY1ON0rSJjA&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
